<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div>
    <th:block th:replace="fragments/navbar :: navbar"></th:block>
</div>

<form style="display: flex;flex-direction: column;width: 30%;margin-left: 35%" method="post"
      action="/add-student">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Surname:</label>
    <input type="text" name="surname">
    <label>Birth date:</label>
    <input type="date" name="birthDate"><br>
    <label>City:</label>
    <input type="text" name="city"><br>
    <button class="btn btn-success">Add Student</button>
</form>
</body>
</html>